.header {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__month {
  font-weight: 700;
  font-size: 3.5rem;
  color: #f8f7fa;
  display: flex;
  align-items: end;
}

.header__year {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.06em;
  color: rgba(221, 224, 255, 0.5);
  display: flex;
  align-items: end;
}
